/* --------------------------------------------- 
    Program         : 1sizing.css
    author          : GRS
    Date            : Initial: 2025-07-07 00:49:08 IST
    Purpose         : Sparrow CSS Framework
                      Create sizing ranges

    Details         : Create size range for width height max, min as well?
                      
    To Do           : - Find another way instead of hardcodings
                      - 50 individual numbers
                      - 1-50 : 1 increment
                      - after each  50-100 : 5 increment
                      - 100-200 : 10 increment
                      - 200-300 : 10 :increment
                      - 300-400 : 20 increment
                      - 400-500 : 25 increment
                      - 500-1000 : 50 increment
                      - 1000 - 3000 : 100 increment 

                      - include for 1rem, to 10rem? in 1.0-1.9rem - 10rem
    Wish            : - Find other ways
                   
    Question        :    

    Understanding   : 
    Log
    ------------------------------------------------- 
    2025-07-07      GRS     Initial Code
-------------------------------------------------------- */

/* ------------------------------------------------------------ */
/* Height and width View-Size
/* ------------------------------------------------------------ */
.h-100vh {
  height: 100vh;
}

.w-100vw {
  width: 100vw;
}

.h-min-100vh {
  height: 100vh;
}

.w-min-100vw {
  width: 100vw;
}


.h-min-90vh {
  min-height: 90vh;
}

.w-min-90vw {
  min-width: 90vw;
}

.h-min-100p {
  min-height: 100%;
}

.w-min-100p {
  min-width: 100%;
}

.h-min-90p{
  min-height:90%;
}
.w-min-90p{
  min-width:90%;
}

/* ------------------------------------------------------------ */
/* Special
/* ------------------------------------------------------------ */
.h-max-100p {
  max-height: 100%;
}

.w-max-100p {
  max-width: 100%;
}

/* ------------------------------------------------------------ */
/* Height 1-10 : 1 increment
/* ------------------------------------------------------------ */
.h-1 {
  height: 1px;
}
.h-2 {
  height: 2px;
}
.h-3 {
  height: 3px;
}
.h-4 {
  height: 4px;
}
.h-5 {
  height: 5px;
}
.h-6 {
  height: 6px;
}
.h-7 {
  height: 7px;
}
.h-8 {
  height: 8px;
}
.h-9 {
  height: 9px;
}
.h-10 {
  height: 10px;
}

/* ------------------------------------------------------------ */
/* Height 10-20 : 1 increment
/* ------------------------------------------------------------ */
.h-11 {
  height: 11px;
}
.h-12 {
  height: 12px;
}
.h-13 {
  height: 13px;
}
.h-14 {
  height: 14px;
}
.h-15 {
  height: 15px;
}
.h-16 {
  height: 16px;
}
.h-17 {
  height: 17px;
}
.h-18 {
  height: 18px;
}
.h-19 {
  height: 19px;
}
.h-20 {
  height: 20px;
}

/* ------------------------------------------------------------ */
/* Height 21-30 : 1 increment
/* ------------------------------------------------------------ */
.h-21 {
  height: 21px;
}
.h-22 {
  height: 22px;
}
.h-23 {
  height: 23px;
}
.h-24 {
  height: 24px;
}
.h-25 {
  height: 25px;
}
.h-26 {
  height: 26px;
}
.h-27 {
  height: 27px;
}
.h-28 {
  height: 28px;
}
.h-29 {
  height: 29px;
}
.h-30 {
  height: 30px;
}

/* ------------------------------------------------------------ */
/* height 30-50 : 5 increment
/* ------------------------------------------------------------ */
.h-35 {
  height: 35px;
}
.h-40 {
  height: 40px;
}
.h-45 {
  height: 45px;
}
.h-50 {
  height: 50px;
}

/* ------------------------------------------------------------ */
/* height 50-100 : 10 increment
/* ------------------------------------------------------------ */
.h-60 {
  height: 60px;
}
.h-70 {
  height: 70px;
}
.h-80 {
  height: 80px;
}
.h-90 {
  height: 90px;
}

.h-100 {
  height: 100px;
}

/* ------------------------------------------------------------ */
/* height 100-1000 : 100 increment
/* ------------------------------------------------------------ */
.h-200 {
  height: 200px;
}
.h-300 {
  height: 300px;
}
.h-400 {
  height: 400px;
}
.h-500 {
  height: 500px;
}

.h-600 {
  height: 600px;
}
.h-700 {
  height: 700px;
}
.h-800 {
  height: 800px;
}
.h-900 {
  height: 900px;
}

.h-1000 {
  height: 1000px;
}
/* ---------------------------------------------------------- */

/* ------------------------------------------------------------ */
/* Width 1-10 : 1 increment
/* ------------------------------------------------------------ */
.w-1 {
  width: 1px;
}
.w-2 {
  width: 2px;
}
.w-3 {
  width: 3px;
}
.w-4 {
  width: 4px;
}
.w-5 {
  width: 5px;
}
.w-6 {
  width: 6px;
}
.w-7 {
  width: 7px;
}
.w-8 {
  width: 8px;
}
.w-9 {
  width: 9px;
}
.w-10 {
  width: 10px;
}

/* ------------------------------------------------------------ */
/* width 10-20 : 1 increment
/* ------------------------------------------------------------ */
.w-11 {
  width: 11px;
}
.w-12 {
  width: 12px;
}
.w-13 {
  width: 13px;
}
.w-14 {
  width: 14px;
}
.w-15 {
  width: 15px;
}
.w-16 {
  width: 16px;
}
.w-17 {
  width: 17px;
}
.w-18 {
  width: 18px;
}
.w-19 {
  width: 19px;
}
.w-20 {
  width: 20px;
}

/* ------------------------------------------------------------ */
/* width 21-30 : 1 increment
/* ------------------------------------------------------------ */
.w-21 {
  width: 21px;
}
.w-22 {
  width: 22px;
}
.w-23 {
  width: 23px;
}
.w-24 {
  width: 24px;
}
.w-25 {
  width: 25px;
}
.w-26 {
  width: 26px;
}
.w-27 {
  width: 27px;
}
.w-28 {
  width: 28px;
}
.w-29 {
  width: 29px;
}
.w-30 {
  width: 30px;
}

/* ---------------------------------------------------------- */
/* ------------------------------------------------------------ */
/* width 30-50 : 5 increment
/* ------------------------------------------------------------ */
.w-35 {
  width: 35px;
}
.w-40 {
  width: 40px;
}
.w-45 {
  width: 45px;
}
.w-50 {
  width: 50px;
}

/* ------------------------------------------------------------ */
/* width 50-100 : 10 increment
/* ------------------------------------------------------------ */
.w-60 {
  width: 60px;
}
.w-70 {
  width: 70px;
}
.w-80 {
  width: 80px;
}
.w-90 {
  width: 90px;
}

.w-100 {
  width: 100px;
}

/* ------------------------------------------------------------ */
/* width 100-1000 : 100 increment
/* ------------------------------------------------------------ */
.w-200 {
  width: 200px;
}
.w-300 {
  width: 300px;
}
.w-400 {
  width: 400px;
}
.w-500 {
  width: 500px;
}

.w-600 {
  width: 600px;
}
.w-700 {
  width: 700px;
}
.w-800 {
  width: 800px;
}
.w-900 {
  width: 900px;
}

.w-1000 {
  width: 1000px;
}
/* ---------------------------------------------------------- */
