/* ------------------------------ */
/* Shadow Serach Companies -  */
/* ------------------------------ */

/* ------------------------------ */
/* line-awesome */
/* ------------------------------ */
.input-div-lineawesome {
    align-items: center;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 16px 24px #0000001a;
    display: flex;
    flex-flow: row wrap;
    height: 70px;
    justify-content: flex-start;
    margin-bottom: 60px;
    font-family: Inter, apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Fira Sans, Roboto, Oxygen, Ubuntu, Droid Sans, Arial, sans-serif;
    position: relative;
    unicode-bidi: isolate;
    color: #000;
    font-size: 16px;
    line-height: 1.5;
}

.search-shadow-line-awesome {
    /* box-shadow: 0 16px 24px #0000001a; */
    background: none;
    border: none;
    box-sizing: border-box;
    color: #000;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Fira Sans, Roboto, Oxygen, Ubuntu, Droid Sans, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 30px 0 70px;
    position: relative;
    width: 100%;
}

.search-shadow-line-awesome::placeholder {
    color: #b8b8b8
}

.search-shadow-line-awesome:focus {
    outline: none;
}

.icon-search-lineawesome {
    color: #e0e0e0;
    font-size: 24px;
    left: 20px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scaleX(-1);
}

.close-search-lineawesome {
    color: #d2d2d2;
    cursor: pointer;
    font-size: 28px;
    position: absolute;
    right: 25px;
    /* right: 50px; */
    top: 50%;
    transform: translateY(-50%);
    /* transform: translateY(-100%); */
}
/* ======================= */