/* All the Components */
@import './variables-fa-icons.css';

::placeholder {
    font-size: var(--placeholder-font-size);
    color: var(--placeholder-text-color);
}

.btn {
    cursor: pointer;
    color: var(--primary-color);
}



a {
    text-decoration: none;
}



header a:link,
header a:visited {
    color: var(--primary-color);
}

header a:active,
header a:hover {
    color: var(--primary-color);
}


.bttn-blk {
    cursor: pointer;
    /* margin: var(--bttn-margin); */
    padding: var(--bttn-padding);
    background-color: var(--bttn-blk-bg-color);

    color: var(--bttn-blk-text-color);
    /* border: none; */
    border: 1px solid;
    box-shadow: var(--bttn-shadow);
    font-size: var(--bttn-text-size);
    border-radius: var(--bttn-radius);
    /* align-self:end; */

    transition: var(--bttn-transition);
}

.bttn-blk-wide {
    width: var(--bttn-wide-width);

}

.bttn-blk:hover {
    /* box-shadow: var(--bttn-hover-shadow); */
    box-shadow: none;
    background-color: var(--bttn-blk-highlight-bg-color);
    color: var(--bttn-blk-highlight-text-color);
}


.bttn-more {
    margin: var(--bttn-more-margin);
}

/* h3{
    color: var(--tertiary-color);
} */

/* Navigation Navbar */
.nav {

    padding: var(--nav-padding);
    background-color: var(--nav-bg-color);
    z-index: var(--nav-z-index);
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-around;
    justify-content: space-evenly;
    justify-content: space-between;
    align-items: center;

    /* Test */
    /* border: solid 1px #ddd; */
}

.navbar ul {
    display: flex;
    gap: var(--nav-flex-gap);
    list-style: none;
}

.navbar a {
    text-decoration: none;
    font-weight: var(--nav-font-weight);
    /* border-bottom: var(--nav-border-bottom); */
    /* transition: all 0.5s ease-in;
    transition: all 0.5s ease-in-out; */
    /* transition: 'border-top' 0.25s ease-out; */
}

.navbar a:hover,
.navbar a:active {
    color: var(--nav-color);
    /* border-bottom: var(--nav-border-bottom); */
    border-top: var(--nav-border-bottom);
    /* transition: all 0.5s ease-out; */
}

.navbar a:link,
.navbar a:visited {
    color: var(--nav-color);

}

/* --------------------------------------- */
/* Position after navbar */
/* Navbar requires special behaviour so 
   Do this after navbar general anchor elements
    */
/* --------------------------------------- */
.nav-logo {
    padding: var(--nav-logo-padding);

}

.nav-logo a {
    font-size: var(--nav-logo-font-size);
    color: var(--primary-color);
    /* transition: all 0.2s ease-in; */
}


/* If putting above navbar definition
    Use specific selection using IDs */
/* #nav-logo-a:link,
#nav-logo-a:visited {
    color: var(--primary-color);
  
}

#nav-logo-a:hover,
#nav-logo a:active {
    color: var(--primary-color);
} */

.nav-logo a:link,
.nav-logo a:visited {
    color: var(--primary-color);
    /* color: inherit; */
}

.nav-logo a:hover,
.nav-logo a:active {
    /* color: var(--primary-color); */
    border-top: none;
    /* font-weight: 700; */
    /* font-size: calc(var(--nav-logo-font-size) * 1.5); */
    /* text-shadow: 0 0 30px darkgreen;
    text-shadow: 0 0 1px lightgreen;
    text-shadow: 0 0 1px; */
    text-shadow: 0 0 1px;
    /* color: inherit; */

}

/* --------------------------------------- */
/* --------------------------------------- */
.nav-item-right {
    display: flex;
    gap: var(--nav-right-items-gap);
}

.nav-item-right ol {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.b-menu:hover {
    cursor: pointer;
}

.b-menu-line {
    background-color: var(--nav-color);
    height: var(--b-menu-line-height);
    width: var(--b-menu-line-width);
    margin: var(--b-menu-margin);
}

header {
    position: sticky;
    top: 0;
    z-index: var(--nav-subheader-z-index);
}

.nav-strip {
    display: flex;
    padding: var(--navstrip-padding);
    width: var(--navstrip-width);
    background-color: var(--navstrip-bg-color);
    /* background-color: var(--navstrip-bg-color);
    background-color: var(--secondary-color);
    color: var(--darktheme-text-color); */
    /* color: var(--primary-color); */
    justify-content: center;
}

.nav-strip ul {
    display: flex;
    gap: var(--nav-flex-gap);
    list-style: none;
}

.nav-strip a {
    text-decoration: none;
    font-weight: var(--nav-font-weight);
    /* border-bottom: var(--nav-border-bottom); */
}

.nav-strip a:hover,
.nav-strip a:active {
    /* color: var(--darktheme-text-color); */
    color: var(--primary-color);
    border-bottom: var(--nav-border-bottom);
}

.nav-strip a:link,
.nav-strip a:visited {
    color: var(--darktheme-text-color);
    color: var(--primary-color);
}

/* ----------------------------- */
/* Hero Section*/
/* ----------------------------- */
.hero-section {
    margin-top: var(--hero-section-margin-top);
    margin-right: var(--hero-section-margin-right);
    margin-bottom: var(--hero-section-margin-bottom);
    margin-left: var(--hero-section-margin-left);
}

/* ----------------------------- */
/* Search Components*/
/* ----------------------------- */
#search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--form-gap);
    /* padding:var(--form-padding); */
    margin: var(--form-margin);
}

.page-heading {
    font-size: 6rem;
    margin: 4rem;

}

.page-subheading {
    font-size: 2rem;
    /* margin-bottom:1rem; */

}

.page-info-heading {
    font-size: 1rem;
    margin-bottom: 3rem;

}

.headline {
    /* margin: var(--headline-margin); */
    text-align: center;
    display: flex;
    flex-direction: column;
    /* gap: 3rem; */
}

/* ======================================= */
/* ------------------------------ */
/* line-awesome */
/* ------------------------------ */

.input-div-lineawesome {
    align-items: center;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 16px 24px #0000001a;
    display: flex;
    flex-flow: row wrap;
    height: 40px;
    /* justify-content: flex-start; */
    justify-content: center;
    /* margin-bottom: 60px; */
    font-family: Inter, apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Fira Sans, Roboto, Oxygen, Ubuntu, Droid Sans, Arial, sans-serif;
    position: relative;
    unicode-bidi: isolate;
    color: #000;
    /* font-size: 16px; */
    font-size: 30px;
    line-height: 1.5;

    /* border: solid 1px lightgray; */
}

.search-box {
    margin-bottom: 30px;
}

.search-label {
    font-weight: 600;
}

#search-input {
    width: var(--search-input-width);
    /* height: var(--search-input-height); */
    /* border-radius: var(--search-input-border-radius); */
    text-align: center;
    /* font-size: var(--search-input-size); */
    align-items: center;
    /* background: #fff; */
    border-radius: 6px;
    /* box-shadow: 0 16px 24px #0000001a; */
    /* display: flex; */
    /* flex-flow: row wrap; */
    height: 40px;
    /* justify-content: flex-start; */
    /* margin-bottom: 60px; */
    font-family: Inter, apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Fira Sans, Roboto, Oxygen, Ubuntu, Droid Sans, Arial, sans-serif;
    /* position: relative; */
    unicode-bidi: isolate;
    color: #000;
    /* font-size: 16px; */
    line-height: 1.5;
    outline: none;
    border: none;

    background: none;
    border: none;
    box-sizing: border-box;
    color: #000;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Fira Sans, Roboto, Oxygen, Ubuntu, Droid Sans, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 30px 0 70px;
    /* position: relative; */
    /* width: 100%; */
}

#search-input::placeholder {
    color: #b8b8b8;
    font-size: 18px;
}

.input-div-lineawesome:hover {
    outline: auto;
    /* border: none; */
    /* box-shadow: 0 0 1px 0 lightgray; */
}

/* ------------------------------ */
/* Shadow Serach Companies - 

    line avvesome testing. remove it later
*/
/* ------------------------------ */


.search-shadow-line-awesome {
    /* box-shadow: 0 16px 24px #0000001a; */
    background: none;
    border: none;
    box-sizing: border-box;
    color: #000;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Fira Sans, Roboto, Oxygen, Ubuntu, Droid Sans, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 30px 0 70px;
    position: relative;
    width: 100%;
}

.search-shadow-line-awesome::placeholder {
    color: #b8b8b8
}

.search-shadow-line-awesome:focus {
    outline: none;
}

.icon-search-lineawesome {
    color: #e0e0e0;
    font-size: 24px;
    left: 20px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scaleX(-1);
}

.close-search-lineawesome {
    color: #d2d2d2;
    cursor: pointer;
    font-size: 28px;
    position: absolute;
    right: 25px;
    /* right: 50px; */
    top: 50%;
    transform: translateY(-50%);
    /* transform: translateY(-100%); */
}


/* ================================ */

#search-icon {
    width: var(--search-btn-width);
    height: var(--search-btn-height);
    font-size: var(--search-icon-size);
}

#search-btn {
    background: var(--background-color);
    border-radius: var(--search-input-border-radius);
}



/* ----------------------------- */
/* Search Filters */
/* ----------------------------- */
#search-filter {
    padding: var(--search-filter-padding);
    margin: var(--search-filter-margin);
    font-size: var(--search-filter-font-size);
}

#search-filter a:link,
#search-filter a:visited {
    color: var(--secondary-color);
}

#search-filter a:active,
#search-filter a:hover {
    border-top: var(--search-filter-border-highlight);
    color: var(--secondary-color);
}

#search-library-heading {
    /* margin-top: var(--result-search-library-heading-top); */
    margin-bottom: var(--result-search-library-heading-bottom);
    margin-left: var(--result-search-library-heading-left);

    color: var(--lighttheme-h3-color);
    color: var(--tertiary-color);
}

.result-for {
    /* margin-top: var(--result-search-library-heading-top); */
    margin-bottom: var(--result-for-margin-bottom);
    margin-left: var(--result-for-margin-left);

    padding: var(--result-for-padding);
    border-radius: var(--result-for-border-radius);
    color: var(--lighttheme-h3-color);
    color: var(--tertiary-color);
    background-color: var(--result-for-bg-color);

}

#search-result-library-div {
    background-color: var(--search-result-div-bg-color);
    /* margin-bottom: var(--result-search-margin-bottom); */
    /* box-shadow: 0 0 4px 0 #bbb; */
    padding: var(--result-search-padding);
}



#total-count {
    margin-bottom: var(--result-search-library-totalcount-bottom);
    margin-left: var(--result-search-library-totalcount-left);

    /* color: var(--g0);  */
    color: var(--total-count-text-color);
    background-color: var(--total-count-bg-color);
    padding: var(--total-count-padding);
    border-radius: var(--total-count-border-radius);
    width: var(--total-count-width);
    /* background-color: var(--lighttheme-h3-color); */
    /* font-weight: var(--total-count-weight); */
    text-align: center;
}

#hd-count {

    /* margin-top: var(--result-search-library-count-top); */
    margin-bottom: var(--result-search-library-count-bottom);
    margin-right: var(--result-search-library-count-right);

    /* color: var(--tertiary-color); */
    color: var(--g0);

}

.result-icon-container {
    display: flex;
    position: relative;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* padding: var(--result-icon-container-padding); */
    width: var(--result-icon-container-width);
    height: var(--result-icon-container-height);
    margin: var(--result-icon-container-margin);

    border-radius: var(--result-icon-container-border-radius);
    gap: var(--result-icon-container-gap);

    /* Testing */
    background-color: bisque;
    /* color: var(--result-icon-container-text-color); */
    background-color: var(--result-icon-container-bg-color);
    /* overflow: hidden; */
    overflow: visible;
    /* z-index:(--result-icon-container-z-index); */

}

.result-icon-container:hover {
    cursor: pointer;

    /* border:solid 1px var(--primary-color); */
    /* box-shadow: 0 0 4px 14px var(--result-icon-container-bg-color); */
    /* Solid border with a little glow */
    /* box-shadow: 0 0 2px 1px ; */

    /* Too much border and not good */
    /* box-shadow: 0 0 8px 1px ; */

    /* Good and subtle */
    /* box-shadow: 0 0 3px 3px #ddd; */
    /* box-shadow: 0 0 3px 2px #ddd; */

    /*Pre-Final: Very nice. without border with good glow subtle though 
    but not prominent like having a border 1px*/
    /* box-shadow: 0 0 3px 0px ; */

    /* With green glow good but not good */
    /* box-shadow: 0 0 3px 0px green;
    box-shadow: 0 0 3px 1px green; */

    /*Final: Very nice. Solid border with good glow subtle though */
    box-shadow: 0 0 3px 1px;
}


.result-icon-name {
    color: var(--result-icon-container-text-color);
    font-size: var(--result-icon-name-font-size);

}

.result-icon {
    font-size: var(--result-icon-font-size);
    /* Testing */
    /* background-color: lightgray; */
}

.result-unicode {
    color: var(--result-icon-container-text-color);
    font-size: var(--result-icon-unicode-font-size);
    /* Testing */
    /* background-color: lightcyan; */
}

/* .result-icon-container { */
/* background-color: var(--result-icon-container); */
/* position: relative; */
/* Testing */
/* transition: all 0.15s ease-out; */
/* transition: all 2s ease-out; */
/* overflow: visible; */
/* }  */
/* ----------------------------- */
/* Footer */
/* ----------------------------- */
.footer {
    padding: var(--footer-padding);
    background-color: var(--footer-bg-color);
    /* Text */
    text-align: center;

    /* Test */
    border-top: solid 1px #ccc;
    border-top: solid 1px #eee;
    border-top: solid 1px #ddd;
}

.footer-links-container {}

/* .footer-link-section-about */

.footer p {
    font-size: var(--footer-font-size);
    color: var(--footer-font-color);
    padding: 1rem;
    /* margin: 3rem; */
    /* color:rgba(hsla(120, 100%, 25%, 0.767),0.5) */
    /* filter:brightness(250%) */
}

.footer-contact {
    padding: 1rem;
    margin: 3rem;
}

/* ----------------------------- */
/* Modal Detail */
/* ----------------------------- */
.modal-section {
    /* display: block; */
    display: var(--modal-overlay-display);
    position: var(--modal-overlay-position);

    top: var(--modal-overlay-top);
    left: var(--modal-overlay-left);
    right: var(--modal-overlay-right);
    bottom: var(--modal-overlay-bottom);

    height: var(--modal-overlay-height);
    width: var(--modal-overlay-width);
    z-index: var(--modal-overlay-z-index);

    border: var(--modal-overlay-border);

    background-color: var(--modal-overlay-bg-color);
    /* -webkit-backdrop-filter: var(--modal-overlay-backdrop-blur);
    backdrop-filter: var(--modal-overlay-backdrop-blur);
    */

    /* transition: all 0.15s ease-out; */
    /* transition: all 3s ease-out; */

    overflow: var(--modal-overlay-overflow);
}

/* .modal-article{
    height:100%;
    width:100%;
} */
/* .modal-detail {
    overflow: auto;
} */
.modal-article {
    /* display:none; */
    /* display: block; */
    /* position: relative; */
    position: var(--modal-position);
    height: var(--modal-height);
    width: var(--modal-width);
    padding: var(--modal-padding);
    margin: var(--modal-margin);

    background-color: var(--modal-bg-color);
    color: var(--modal-text-color);
    box-shadow: var(--modal-shadow);

    border: var(--modalborder);
    border-radius: var(--modal-radius);
    z-index: var(--modal-z-index);
    overflow: auto;
    /* margin: auto; */
    /* overflow: auto; */
    /* Not orking - animation or transition */
    /* animation-duration: .001s;
    animation-timing-function: step-end;
    animation-iteration-count: 1;

    transition: transform .001s linear !important;
    -webkit-transition: transform .001s linear !important;
    transition-delay: .001s;  */

}

/* 
.modal-detail-container{
    overflow:auto;
} */

.modal-close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: var(--modal-close-position);
    right: var(--modal-close-right);
    top: var(--modal-close-top);
    border: none;
    /* border-radius: var(--modal-close-border-radius); */
    background-color: var(--modal-close-bg-color);
    height: var(--modal-close-height);
    width: var(--modal-close-width);
    /* color: #333; */
}

.close-cross1,
.close-cross2 {
    height: var(--modal-close-x-height);
    background-color: var(--modal-close-x-color);
    width: var(--modal-close-x-width);

}

.close-cross1 {
    transform: rotate(var(--modal-close-x-rotate));
}

.close-cross2 {
    transform: rotate(var(--modal-close-x-rotate-rev)) translateX(var(--modal-close-translateX)) translateY(var(--modal-close-translateY));
}


.modal-close-button:hover {
    cursor: pointer;
    background-color: var(--modal-close-x-highlight-bg-color);
}

.modal-close-button:hover .close-cross1,
.modal-close-button:hover .close-cross2 {

    background-color: var(--modal-close-x-highlight-color);
}



.modal-details-tabs {
    height: var(--modal-details-tabs-height);
    width: var(--modal-details-tabs-width);
    /* background-color: royalblue; */
}

.modal-details-images {
    height: var(--modal-details-images-height);
    width: var(--modal-details-images-width);
    /* background-color: cornflowerblue; */
    background-color: var(--apple-subtle-bluishgrey-bg-color);
}

.modal-detail-IconimageContainer {

    height: var(--modal-details-iconimage-container-height);
    width: var(--modal-details-iconimage-container-width);
    /* margin-top:2rem; */
    background-color: #fff;
    /* padding:3rem 0; */
}

#modal-detail-Iconimage {
    font-size: var(--modal-detail-icon-font-size);
    color: var(--modal-detail-icon-text-color);
    /* Testing */
    background-color: #fff;
}

.modal-detail-image-name-heading {
    text-align: center;
    /* text-wrap-mode: wrap; */
    word-wrap: break-word;
    margin-bottom: 3rem;
    background-color: #eee;
}

.modal-detail-subheading {
    font-size: 0.6rem;
    /* width: 30%; */
    width: 4rem;
    text-align: center;

}

.modal-detail-values {
    font-size: 0.7rem;
    text-align: start;
    font-weight: 600;
    text-wrap-mode: wrap;
}

.modal-details-images {
    border: var(--icon-detail-tabs-menubar-border);
}

/* .modal-details-images, */
.modal-detail-alltext-container,
.modal-detail-IconimageContainer,
.modal-detail-image-name-heading {
    /* margin-left: auto; */
    border: var(--icon-detail-tabs-menubar-border);
    border-radius: 6px;
    margin-bottom: 2rem;
}

/* 
.modal-detail-info-container{
    background-color: var(--fontawesome-text-color);
        color: gainsboro;
} */
.modal-detail-alltext-container {
    padding: 2rem 1rem;
    background-color: var(--fontawesome-text-color);
    color: gainsboro;
    color: #eee;
    color: gold;
    color: yellow;
    color: #fff;
    /* height:60%; */
    /* margin:2rem 1rem; */
    /* border: var(--icon-detail-tabs-menubar-border); */
}

.tab {
    overflow: hidden;
    border: var(--icon-detail-tabs-menubar-border);

    border-top-left-radius: var(--icon-detail-tabs-border-radius);
    border-top-right-radius: var(--icon-detail-tabs-border-radius);
    background-color: var(--icon-detail-tabs-menubar-bg-color);
}

.tab .tablink {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: var(--icon-detail-tabs-menubar-heading-padding);
    transition: var(--icon-detail-tabs-menubar-transition);
    font-size: var(--icon-detail-tabs-menubar-font-size);
}

.tab .tablink:hover {
    background-color: var(--icon-detail-tabs-menubar-highlight-bg-color);
}

.tab .tablink.active {
    background-color: var(--icon-detail-tabs-menubar-active-bg-color);
}

.tabcontent {
    /* display:none; */
    border: var(--icon-detail-tabs-menubar-border);
    /* border-radius: var(--icon-detail-tabs-border-radius); */
    /* border-top-left-radius: var(--icon-detail-tabs-border-radius); */
    border-bottom-right-radius: var(--icon-detail-tabs-border-radius);
    border-bottom-left-radius: var(--icon-detail-tabs-border-radius);
    border-top: none;
}

#html-detail {
    /*Keep visible for default vievv */
}

#svg-detail {
    display: none;
}

#react-detail {
    display: none;
}

#vue-detail {
    display: none;
}

.tooltip-container {
    position: relative;

}

.search-tips-container {
    /* display: none; */
    visibility: hidden;
    position: absolute;
    font-size: var(--search-tips-font-size);
    line-height: var(--search-tips-line-height);
    background-color: var(--search-tips-container-bg-color);
    background-color: var(--icon-result-tips-container-bg-color);
    bottom: var(--search-tips-container-bottom);
    left: var(--search-tips-container-left);
    border-radius: var(--search-tips-border-radius);
    z-index: var(--search-tips-container-z-index);
    /* height: var(--search-tips-container-height);
    width: var(--search-tips-container-width); */
    white-space: nowrap;
    opacity: 0;
    transition: all 0.5s ease-out;

    /* Testing */
    /* width: var(--search-tips-container-width) ; */
    overflow: auto;
}

.search-tips-heading {
    color: var(--search-tips-heading-color);
}

.search-tips-subheading {
    font-size: var(--search-tips-subheading-font-size);
    color: var(--search-tips-subheading-color);
}

.search-tips-points {
    color: var(--search-tips-points-color);
}

.tooltip-container:hover .search-tips-container {
    /* display:inline-block; */
    /* display: block; */
    visibility: visible;

    opacity: 1;
    /* transition: all 0.25s ease-in-out; */
}

/* .tooltip-container .search-tips-container::after { */
.tooltip-container .search-tips-container::after {
    content: " ";
    /* content: "a"; */
    position: absolute;
    top: 90%;
    right: 100%;
    /* To the left of the tooltip */
    margin-top: -5px;
    /* margin-bottom: -5px; */
    border-width: 5px;
    border-style: solid;
    /* border-color: transparent var(--search-tips-container-bg-color)  transparent transparent; */
    border-color: transparent var(--search-tips-container-bg-color) transparent transparent;

}

.icon-result-tips-container {
    /* Testing */
    width: 15rem;
    white-space: wrap;


}

.tooltip-text {
    /* cursor: pointer;
    cursor:all-scroll;
    cursor:grab; */
    cursor: context-menu;
    font-size: var(--tooltip-font-size);
    color: var(--tooltip-text-color);
    font-weight: var(--tooltip-font-weight);
    padding: var(--tooltip-text-padding);
}

.more-info {
    padding: var(--tips-moreinfo-padding);
    font-size: var(--tips-moreinfo-font-size);
}

/* 
.tooltip-icons-container {
   
    visibility:hidden;
   
    color: var(--icon-tips-text-color);
    position: absolute;
    z-index: var(--icon-tips-z-index);
    bottom: var(--icon-tips-bottom);
    left: var(--icon-tips-left);
    background-color: #fff;
    overflow: visible;
} */

.result-icon-container:hover .tooltip-icons-container {
    visibility: visible;
}

/* .tooltip-icon-text{
    overflow: visible;
} */

.icon-result-tips-container {
    padding: var(--icon-result-tips-container-padding);
    bottom: var(--icon-result-tips-container-bottom);
    left: var(--icon-result-tips-container-left);
    background-color: var(--icon-result-tips-container-bg-color);
}

.tabcontent code {
    display: inline-block;
    font-size: var(--code-font-size);
    background-color: var(--code-bg-color);
    color: var(--code-text-color);
    padding: var(--code-padding);
    /* margin:var(--code-margin); */
    border-radius: var(--code-border-radius);
    overflow: auto;
    /* text-wrap-style: ; */
}

.icon-result-tips-heading {
    color: var(--icon-result-tips-heading-text-color);
}

.code-cpy .content-copy {
    display: inline-block;
    font-size: var(--code-copy-font-size);
    transform: rotate(180deg) scaleX(-1);
}

.content-copy {
    cursor: pointer;
}

.code-cpy {
    display: flex;
    position: relative;
    gap: 0.25rem;
    align-items: center;
    align-items: start;
}

.code-div {
    display: flex;
    gap: 0.3rem;
    margin: 2rem 1rem 1rem 1rem;
}

.code-div pre {
    max-height: 6rem;
    overflow: auto;
}

.icon-code-container {
    /* overflow: scroll; */
    max-width: 28rem;
    text-wrap: auto;
}

.copy-tip-copied {
    z-index: 1200;
}

.copy-tip {
    /* display: none; */
    visibility: hidden;
    position: absolute;
    bottom: 100%;
    left: 100%;
    font-size: 0.8rem;
    color: gold;
    padding: 0.25rem 0.5rem;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 6px;
    /* color:; */
}

.content-copy:hover+.copy-tip {
    /* display: inline-block; */
    visibility: visible;
    /* color: red; */
    opacity: 1;

}

#detail-copy {
    font-size: 0.8rem;
}

/* #detail-copy-entity{
    font-size: 0.5rem;
} */
.modal-detail-alltext-container .content-icon-copy {
    font-size: 0.7rem;
    margin: 0 0 0 0.2rem;
}

.loading-modal {
    position: fixed;
    z-index: 2999;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    /* display:flex;
     */
    display: none;
    justify-content: center;
    align-items: center;
}

.loading-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 3rem;
    width: 3rem;
    background-color: rgba(f, f, f, 0.4);
}

.loading-para {
    font-size: 1.5rem;
    font-weight: 600;
}

.contact-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* .google-form-container {
    position: relative;
    width: 100%;
    padding-bottom: 75%;
    Adjust this value based on the form's aspect ratio for better responsiveness
    height: 0;
    overflow: hidden;
} */
.google-form-container { 
    /* position: relative; */
    width: 100%;
    width: 101vw;
    /* width: 640px; */
    /* width: 640px; */
    /* height:1229px; */
    height: 1500px;
    /* padding-top: 100%; */
    /* margin-bottom:5rem; */
    /* Adjust this value based on the form's aspect ratio for better responsiveness */
    /* height: 0; */
    /* overflow: hidden; */
 }

.google-form-container iframe {
    /* position: absolute; */
    top: 0;
    left: 0;
    /* bottom:0;
    right:0; */
    width: 100%;
    height: 100%;
    border: none;
}