@media screen and (prefers-color-scheme: dark) {

    :root {
        --primary-color: green;
        --body-bg-color: #333;
        --text-color: #ddd;

        --nav-color: var(--text-color);
        --h1-color: var(--text-color);
        --para-color: var(--text-color);
        --footer-font-color: var(--text-color);
        /* --nav-bg-color:  */
        --result-icon-container-bg-color: #111;
        --result-icon-container-bg-color: #555;
        --result-icon-container-bg-color: #000;
        --result-icon-container-bg-color: #444;
    }

    body,
    .nav,
    .navbar,
    .footer {
        background-color: var(--body-bg-color);
        color: #eee;
        color: var(--text-color);
    }

    /* Element colors doesnt work
        Class works. Weird. WHy? same element selected 
        using both nav and .nav */
    /* nav,
    body,
    footer {
        background-color: var(--body-bg-color);
        color: #eee;
    color: var(--text-color);
} */
}

@media (max-width:1200px) {
    .hero-section {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

@media(max-width:1000px) {
    #search-form {
        flex-direction: column;
    }
    #search-input{
        width:50vw;
        font-size: 14px;
    }
    ::placeholder {
        font-size: 14px;
        color: blue;
    }
    
}

@media(max-width: 780px) {
    .hero-section {
        margin-left: 2rem;
        margin-right: 2rem;
    }
         #search-input {
             width: 75vw;
             font-size: 14px;
         }
}

@media(max-width:510px) {
    .hero-section {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}