@media screen and (prefers-color-scheme: dark) {

    :root {
        --primary-color: green;
        --body-bg-color: #333;
        --text-color: #ddd;

        --nav-color: var(--text-color);
        --h1-color: var(--text-color);
        --para-color: var(--text-color);
        --footer-font-color: var(--text-color);
        /* --nav-bg-color:  */
        --result-icon-container-bg-color: #111;
        --result-icon-container-bg-color: #555;
        --result-icon-container-bg-color: #000;
        --result-icon-container-bg-color: #444;
        --search-result-div-bg-color:#333;
        /* --search-result-div-bg-color: #1d1d1f; */
        --modal-close-x-color: #eee;
        --modal-bg-color: #eee;
        --modal-close-bg-color:#333;
    
    
    }   

    body,
    .nav,
    .navbar,
    .footer {
        background-color: var(--body-bg-color);
        color: #eee;
        color: var(--text-color);
    }

    #search-input {
        background-color: #aaa;
    }
    #search-input::placeholder{
        color: #ddd;
    }
    #search-library-heading {
        color: #ddd;
    }

    .modal-article{
        border: solid 1px #fff;
    }
    /* Element colors doesnt work
        Class works. Weird. WHy? same element selected 
        using both nav and .nav */
    /* nav,
    body,
    footer {
        background-color: var(--body-bg-color);
        color: #eee;
    color: var(--text-color);
} */
}

@media (max-width:1200px) {
    .hero-section {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

@media(max-width:1000px) {
    #search-form {
        flex-direction: column;
    }

    .input-div-lineawesome {
        height: 90px;

    }

    #search-input {
        width: 50vw;
        font-size: 14px;
        text-wrap: wrap;
        height: 90px;
        padding: 0px 8px 0px 40px;
    }

    .count-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #total-count {
        margin-left: 0px;
    }

    #search-input::placeholder {
        font-size: 14px;
        /* color: blue; */
        text-wrap: wrap;
    }

    /* 
    .modal-detail-container {
        flex-direction: column;
    } */
}

@media(max-width: 780px) {
    .hero-section {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    #search-input {
        width: 75vw;
        font-size: 14px;
    }
}

@media(max-width:510px) {
    .hero-section {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media(max-width:380px) {
    section#search-results {
        gap: 0.25rem;
    }
}