@import "variables-fa-icons.css";
@import "components-fa-icons.css";
@import "app-icons.css";
* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: cadetblue;
  color: gainsboro;

}
a:visited,
a:link {
  color: #333;
  color: gainsboro;
}

a:hover,
a:active {
  color: cornflowerblue;
  color: chartreuse;
}
ul {
  list-style: none;
}

.utilities-header {
  display: flex;

  height: 10rem;
  background-color: cornflowerblue;
  background-color: darkslateblue;

  color: #fff;
  color: gainsboro;

  align-items: center;
  justify-content: center;
}

.utilities-heading {
  margin: auto;
  color: gainsboro;

}

.utilities-main {
}
